.audio-player-wrapper {
  position: sticky;
  bottom: 0;
  right: 0;
  width: 100%;
}

.audio_card.active {
  background-color: rgba(20, 25, 100, 0.25);
}

.cool-player-list-wrapper {
  height: auto;
}