.icon-c2-main-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .desc-c2-div {
    padding-top: 20px;
    color: rgb(235, 42, 42);
    text-align: center;
  }
  