$is-blue: #00b3E9;
$is-dark-blue: #0081A0;
$is-iron : #9296A0 !default;
$is-green : #5FBA50 !default;

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.button-sync {
  cursor: pointer;
  display: block;
  float: left; 
  clear: left; 
  margin: 1rem 3rem;
  transition: all .3s;
}

.button-sync .initial,
.button-sync .syncing,
.button-sync .success {
  padding: 0.5714rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}
.button-sync svg {
  transition: all .3s;
  margin-left: -0.1429rem;
  margin-right: 0.5714rem; 
  margin-top: -1px;
}
.button-sync p {
  transition: all .3s;
  margin: 0;
  font-weight: 500;
}


.initial {
  background-color: transparent;
  border: 1px solid $is-iron;
  color: $is-iron;
  border-radius: 4px;
}
.initial svg {
  width: 16px;
  fill: $is-dark-blue;
}
.initial p {
  color: $is-dark-blue;
}

.syncing {
  background-color: $is-dark-blue;
  border-radius: 4px;
}
.syncing p {
  color: white;
}

.success {
  background-color: $is-green;
  color: white;
  border-radius: 4px;
}
.success svg {
  width: 16px;
  fill: white;
}

.button-sync:hover, 
.button-sync:active {
  .initial {
    background-color: rgba($is-blue,0.1);
  }
}

$offset: 360;
$duration: 1.4s;

.sync-spinner {
  animation: rotator $duration linear infinite;
}

.sync-path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: white;
  animation: dash $duration ease-in-out infinite;
}

.sync-success {
  transform-origin: center;
  animation: bounceIn .75s ease-in-out infinite
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset * 0.885;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}